<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailsTracker</title>
</head>
<body>
    <header>
        <h1>Favorite Trails</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/trails/new">Add to Favorite Trails</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Trails List</h2>
        <ul>
            <% for(let i = 0; i < trails.length; i++) { %>
            <li>
                <a href="/trails/<%= trails[i]._id %>"><%= trails[i].name %></a>
            </li>
            <% } %>
        </ul>
    </main>
</body>
</html>